<style>


body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}


.container {
    background: #fff;
    padding: 20px;
}

h1, h2 {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 8px;
}

.evidencia {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 20px;
    page-break-inside: avoid;
	break-inside: avoid;
}

textarea {
    width: 100%;
    height: 70px;
}

img {
    max-width: 100%;
    border: 1px solid #000;
    margin-top: 30px;
}

/* FORÇAR QUEBRA DE PÁGINA A4 */
.page-break {
    page-break-before: always;
}



.input-filial {
    width: 500px;
}

.input-incidente {
    width: 500px;
}

.input-field {
    width: 500px;
}

h1 {
    text-align: center;
}

.campo {
    margin-bottom: 10px;
text-align: center;
}

.acoes-evidencia {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre botão e input */
    margin-top: 5px;
}
/* botão flutuante */ 
.fab-container {
    position: fixed;
    bottom: 70px;
    right: 70px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1050;
}

.fab-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fab-btn {
    width: 56px;
    height: 56px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fab-label {
    background: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    white-space: nowrap;
}

#conteudoPDF {
  height: auto !important;
  max-height: none !important;
  overflow: visible !important;
}

.pdf-container {
  
  width: 210mm;      /* largura A4 */
  max-width: 210mm;
  margin: 0 auto;
  padding: 10mm;
  box-sizing: border-box;

}


body {
    padding-top: 70px; /* altura da barra */
}
/* ===== AJUSTES PARA PDF ===== */


@media print {
  .no-pdf,
  .navbar {
    display: none !important;
  }

  body {
    margin: 0;
  }
}

/* impede quebra no meio da evidência */
.evidencia {
  break-inside: avoid;
  page-break-inside: avoid;
}

/* evita corte de imagens */
.evidencia img {
  max-width: 100%;
  page-break-inside: avoid;
}






</style>